# ======================
# Node / Next.js
# ======================
node_modules/
.next/
out/
dist/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# ======================
# Environment files
# ======================
.env
.env.local

# ======================
# ML Models & Data
# ======================
*.h5
*.pt
*.pth
*.ckpt
data/
datasets/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Logs
# ======================
*.log

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db